/************************
        common
************************/

*{padding: 0; margin: 0;}

html {
    width: 100%;
}

body {
    width: 100%; margin:0;
	padding:0; font-family: 'Times New Roman';
	font-size: 0.9em; color:#444;
	line-height:1.3em; background: #fff url('/themes/mouse/images/bg.jpg') no-repeat top right;
}

a:link { color: #333; }
a:visited { color: #999; }
a:hover, #sidebar ul li a:active { color: #fff; background: #900;}

h1,h2,h3,ul ,li { margin:0; padding:0; }
h1 {letter-spacing: 2px; }
h2,h3 {margin: 20px 0 0 0;  letter-spacing: 2px; }
h3 span { padding: 0 0 0 5px; text-transform: uppercase; }
li { list-style:none; }
p { line-height:1.5em; margin:0; padding:5px 0 0 12px; text-indent: 20px; text-align:justify;}

#header { height: 200px; border-bottom: solid; background: url('/themes/mouse/images/logo.jpg') no-repeat top left; }
#header h1 {
	position: absolute; left: 155px; top: 140px;
	color: #000; text-align: right; font-size: 1.6em; }

#topnav {
	position: absolute;    top: 182px;
    right: 20px;	list-style:none;
	font-size:0.9em;	text-align: right;	
	font-family:Verdana, Arial, Sans-Serif; }
#topnav li { display:inline; font-weight:bold; }
#topnav li a:link, #topnav li a:visited { text-decoration:none;	color:#BBC4A3; }
#topnav li a:hover, #topnav li a:active { color:#F7F3ED; }

#content { float: right; width: 100%; margin-left: -200px;  }

#container { padding: 20px 20px 0 222px; margin-bottom: 60px; }

#container .p1 { margin:10px 20px; padding:0; font-style:italic; font-size:16px; text-align: right;
	color: #265ca6;}
#container .p2 { background:transparent; font-style:normal;
text-transform:uppercase; font-family:Arial, Helvetica, sans-serif;
font-size:11px; text-align: right; margin: 0 20px;	color: #265ca6;}

/* --- Главная --- */
#Begin > h3      { background:url(begin.gif) no-repeat; width: 150px; height: 35px}
#Begin > h3 span { display: none;}
#Begin li  { font-family: Georgia, Verdana, Arial, serif;	font-size:1.1em; list-style:disc; }
#Begin ol { margin: 0 0 0 40px; }
#News > h3      { background:url(news.gif) no-repeat; width: 150px; height: 35px}
#News > h3 span { display: none;}

#container .post {	margin:20px 0 10px 0 }
#container div.post img { float: left; margin: 0 10px 0 0;}
#container div.post-info { margin:0; padding:0; color:#333; }
#container div.post div.post-info h3 { margin: 0; padding: 0; }
#container div.post div.post-info > span { margin: 5px;font-size: 12px; }
#container div.post-content {
	padding:10px 0;	margin:20px 60px 40px 20px;
	border-top:#ccc 1px solid;		font-family: Georgia, Verdana, Arial, serif;	font-size:1.1em;}

/* --- FAQ --- */
#FAQ > h3 { background:url(faq.gif) no-repeat; width: 150px; height: 30px}
#FAQ > h3 > span { display: none;}
p.important { border: 1px solid red; display:block; color: red; font-weight: bold; margin 10px; }

/* --- Карта сайта --- */
#Sitemap > h3 { background:url(map.gif) no-repeat; width: 200px; height: 30px}
#Sitemap > h3 span { display: none;}
#Sitemap ul {margin: 0 0 0 15px;}
#Sitemap li {margin: 5px 0 0 15px; font-size: 1.1em;}
#Sitemap > ul {margin: 10px 0;}

/* --- Ссылки --- */
#links > h3 { background:url(links.gif) no-repeat; width: 200px; height: 30px}
#links > h3 span { display: none;}

/* --- Форум --- */
div.forum-info { border-top:#ccc 1px solid;}
div.forum-info h3 { margin: 0; color: #900; }
div.forum-info li { margin: 5px 0 0 0; list-style: disc; color: #265ca6; font-size: 14px; font-weight:normal;}
div.forum-info ul { margin: 0 0 0 20px; }
div.forum-info > li { margin: 20px 0 0 0; list-style: square; color: #265ca6; font-size: 18px; font-weight:bold;}


#sidebar { float: right; width: 200px; background: url('/themes/mouse/images/logosmall.jpg') no-repeat center; }
#sidebar li { font-size: 12px; color: #265ca6; }
#sidebar ul {margin: 5px 0px 0px 15px;}
#sidebar a { font-family: Arial; font-weight: bold; }
/* --- Голосование --- */
#Poll {border: 1px solid #999; margin: 20px 5px;}
#Poll h3,#Poll span {margin: 0;padding: 0; font-size: 0.9em; text-transform: none; letter-spacing: 0px;}
#Poll li { margin: 5px 5px; list-style: disc;}

#LeftMenu { text-transform: uppercase; }
#LeftMenu > h3 { background:url(menu.gif) no-repeat; width: 150px; height: 30px}
#LeftMenu > h3 span { display: none;}
#Auth > h3 { background:url(user.gif) no-repeat; width: 150px; height: 30px}
#Auth > h3 span { display: none;}
#Calendar > h3 { background:url(calendar.gif) no-repeat; width: 150px; height: 30px}
#Calendar > h3 span { display: none;}
#ForumLast > h3 { background:url(forum.gif) no-repeat; width: 150px; height: 30px}
#ForumLast > h3 span { display: none;}
li.buttons { margin: 0 0 0 30px; }

#footer { clear: both; margin-left: 222px; margin-right: 24px; border-top: solid; font-size: 0.8em; }
#copyright { 	float: left; margin: 10px 0; position: relative;}
#mouse { position: absolute; top: -70px;background: url('/themes/mouse/images/line-bg.jpg') no-repeat left; height: 50px; width: 55px;}
#stat { float: left; margin: 10px; margin-left: 200px; }

#search { border: none; background: none; }
#quick-search { position: absolute; float: left; top: 120px;  right: 270px; }
#quick-search input.text {
    height: 19px; width: 195px; border: 1px solid;
    border-color: #777 #e9e9e9 #e9e9e9 #777; background: #fff; font: 12px/normal Arial; color: #aaa;
    vertical-align: middle; }

#loadingAjax {
	position: absolute; top: 0; right: 0; background: #ff0000; color: #ffffff; font-size: 1.4em; list-style: none; float:right; }
