RewriteEngine off
#SetEnv CGI_PARSER_LOG /home/lankweb/www/conf/parser3.log

AddHandler parsed-html html
#Action parsed-html /cgi-glob/parser3/parser3_wrapper.exe

<Files ~ "\.p$">
Order allow,deny
Deny from all
</Files>