AddHandler parsed-html html
Action parsed-html /cgi-glob/parser3/parser3_wrapper.exe

# задание Конфигурационного файла 
#ParserConfig d:/Apache/cgi-bin/auto.p

# Следующая инструкция вырубает Russian Apache (если он работает)
<IfModule mod_charset.c>
	CharsetDisable On
</IfModule>

RewriteEngine on
RewriteOptions inherit
RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
RewriteRule	^(.*)$	index.html?uri=/$1 [QSA,L]

# Запрещаем открывать парсерные служебные файлы в браузере:
<Files ~ "\.(p|cfg|dir|pag)$">
	Order allow,deny
	Deny from all
</Files>